<% provide(:title, "Contact") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p" %>
<<<<<<< ccae9a03b5ed2214de277da09394339bbf0c91ff
  <%= link_to "contact page.", "http://www.railstutorial.org/contact" %>
=======
  <a href="<%= t ".urlcontact" %>"><%= t ".a" %></a>.
>>>>>>> Finish layout and routes
</p>
