<% provide(:title, "Help") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p" %>
<<<<<<< ccae9a03b5ed2214de277da09394339bbf0c91ff
  <%= link_to "Rails Tutorial help page", "http://www.railstutorial.org/help" %>
  <%= t ".a" %>
  <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/book" %>
  <%= t ".name" %>
=======
  <a href="<%= t ".urlhelp" %>"><%= t ".namehelp" %></a>.
  <%= t ".a" %>
  <a href="<%= t ".urlbook" %>"><em><%= t ".namebook" %></em><%= t ".name" %></a>.
>>>>>>> Finish layout and routes
</p>
