<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".p" %>
  <%= link_to t("static_pages.help.help"), "http://www.railstutorial.org/help" %>
  <%= t ".a" %>
  <%= link_to t("static_pages.help.rails"), "http://www.railstutorial.org/book" %>
  <%= t ".name" %>
</p>
