<% provide(:title, "Help") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p" %>
  <%= link_to "Rails Tutorial help page", "http://www.railstutorial.org/help" %>
  <%= t ".a" %>
  <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/book" %>
  <%= t ".name" %>
</p>
