<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<%= paginate @users, theme: "twitter-bootstrap-3"%>
<table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t ".stt" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".image" %></th>
        <th><%= t ".email" %></th>
        <th class="table-th"><%= t ".active" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td>
            <%= create_index params[:page], index,
              Settings.user_helper.per_page %>
          </td>
          <td><%= link_to user.name, user %></td>
          <td><%= gravatar_for user, size: Settings.users.index.size %></td>
          <td><%= link_to user.email, user %></td>
          <td class="table-th">
            <% if current_user.admin? && !user.current_user?(current_user) %>
              <%= link_to t(".delete"), user, method: :delete,
              data: { confirm: t(".confirm") }, class: "btn btn-danger"%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
